@charset "utf-8";
/* CSS Document */

body{
	/*background:url(../img/grey.png) repeat-y 0px 0;*/
	background:#f6f8fa;
	color:#535353 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
}
a,
a:visited{
	color:#535353 !important;
}

a:hover{
	color:#e44f32 !important;
	background:none !important;
	text-decoration: none !important;
}

.container-fluid{
	padding:00px 0 0 0;
}


code{ white-space:normal !important;}

.header{
	background:#f6f8fa;
	height:50px;
	border-bottom:1px solid #dadfe5;
	z-index:999;
}

.sidebar .logo {
	position:fixed;
	top:22px;
}


.header .btn{
	margin:9px 25px 0 0;
}

.sidebar{
	padding-left:20px;
	border-right: 1px solid #dadfe5;
	overflow:hidden;
	background:white;
	
}

.sidebar .nav-header{
	color:#232323;
	font-size:12px;
}

.sidebar li a{
	background: none !important;
	margin-right:0 !important;
}

.sidebar li strong{
	font-size:12px;
	line-height:30px !important;
	color:#999b9e;
}

.sidebar li.active a{
	color:#e44f32 !important;
	border-right:3px solid #e44f32;
	text-shadow:none !important;
}

.sidebar li.active a:hover{
}

.sidebar .nav-list{
	padding:00px 0px 0 0px;
	position:fixed;
	top:60px;
}


.sidebar .nav-list li{
	font-size:13px;
	line-height:26px;
}

.sidebar .nav-list > li{
	margin-top:15px;
}


.sidebar .nav-list li ul {
	list-style:none;
	margin-left:0;
}

.sidebar .nav-list li ul li a{ display:block;}

.sidebar .nav-list li h4,
.sidebar .nav-list li h4 a,
.sidebar .nav-list li h4 a:visited{
	font-size:15px;
	line-height:18px;
	font-weight:bold !important;
	color: #535353 !important;
}

.sidebar .nav-list li h4 a:hover,
.sidebar .nav-list li h4 a.active{
	color:#e44f32 !important;
}



.content{
	margin-left: 0px !important;
}

.content img{
	margin:25px 0;
}

.section{
	clear:both;
	padding: 0px;
}

.section a, .section a:visited{
	color:#e44f32 !important;
}

.section ul{
	margin-left:15px !important;
}

.section ul li,
.section ol li{
	margin:6px 0;
	line-height:23px;
}

.section h4{
	font-size:21px;
	color:#535353;
	margin-bottom:15px;
	font-weight:600;
}

.section h6{
	font-size:15px;
	color:#535353;
}

.section h5{
	font-weight:normal;
	margin-top:50px;
}

.section p, .section ul{
	line-height:23px;
	font-size:14px !important;
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.section .span6{
	background:url(../img/sept.png) left bottom no-repeat #fff;
}

.section .column2{
	margin-left:0 !important;
	background: url(../img/sept.png) right bottom no-repeat #f6f8fa;
	-webkit-box-shadow: #dadfe5 -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
	-moz-box-shadow: #dadfe5 -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
	-ms-box-shadow: #dadfe5 -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
	-o-box-shadow: #dadfe5 -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
	box-shadow: #dadfe5 -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
	position: relative;
}

.section .column2 .align-bottom{
	position:absolute;
	bottom:50px;
}

.section .column2 p{
	font-family: "Lucida Console", Monaco, monospace;
}
.section .column2 p.copy{
	font-family: 'Source Sans Pro', sans-serif;
}

.section .column2 h5{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:11px;
	text-transform:uppercase;
}

.section .column2, .section .span6{
	padding:20px 40px !important;
}

.section .column2{ padding-right:0 !important; }

.section code{
	display:block;
	background:none !important;
	border:none !important;
	color:#535353;
	overflow:hidden;
	width:100%;
	padding-left:0;
}

.section code span{
	display:block;
	padding-left:25px;
}

.section .table {
	font-size:12px;
}

.section .table span{
	color:#CCC;
	font-style:italic;
}

.listing {
	border-top:1px solid #dadfe5;
/*	border-bottom:1px solid #dadfe5;*/
	overflow:hidden;
	padding-top:30px;
}

.listing > ul{
	margin-left:15px;
}

.listing ul li{
	font-weight:bold;
	margin-bottom:10px;
}

.listing ul li ul li{
	font-weight:normal !important;
}

.stick {
    position:fixed;
    top:00px;
}

.mstick {
    position:fixed;
    top:0px;
}

.row-fluid .span10{ width:84.5% !important;}

.footer{
	background:#f6f8fa;
	text-align:right;
	line-height:50px;
	height:50px;
	border-top:1px solid #dadfe5;
	bottom:0;
	font-size:12px;
}

.footer a{
	margin-right:25px;
}

.mobile{
	display:none;
	right:0;
	position: fixed;
	top:0;
	width:100%;
	background: rgba(255,255,255,0.8);
border-bottom: 2px solid #efefef;
z-index:99999;
height:50px;
}

.mobile .btn, .mobile .btn:hover{
	background-image:none;
	background:#D9D9DA !important;
	border-radius:0;
	text-shadow:none;
	border:0;
}

.mobile .btn:hover{
	color:#262932 !important;
}

.mobile .nav-list{
	text-align:right;
	margin-bottom:20px;
	background: rgba(255,255,255,0.8);
	padding: 15px 25px;
	clear:both;
}

.mobile .logo{
	float:left;
	margin:10px 0 0 20px;
}

.mobile #nav{
	clear:right;

}

.mobile #nav.in{
	height:350px !important;
		overflow-y: scroll;
}

.mobile > a{
	display:block;
	margin:10px auto;
	margin-right:25px;
}


small{
	color:#808080 !important;
	font-size:13px;
}

.lighten{
	color:#808080 !important;
	font-size:12px !important;
	font-weight:bold !important;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.space{
	margin-top:15px;
}

#cia-api ul li{
	margin:10px 0;
}

.content .section h3{
	margin-bottom:20px;
	margin-top:40px;
	color:#000 ;
}

.content .section h3{
	letter-spacing:1px;
}

/* to create a custom grid for ios code and content*/
.custom-col{
	background-image:none !important;
	box-shadow:none !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/*Responsive*/

@media screen and (max-width: 1400px) {
	
.section .column2, .section .span6{
	padding:20px 30px !important;
}

	
}

@media screen and (max-width: 768px) {
	
	.row-fluid .content{
		width:100% !important
	}
	
	.content .section h3 { margin-top:10px;}
	
	.sidebar{
		display:none !important;
	}
	
	.section .span6, .section .column2{
		width:100% !important;
		overflow:hidden;
		height:auto !important;
		padding:50px 20px!important;
	}
	
	.footer{
		text-align:center;
	}
	
	.footer a{
		margin-right:0;
	}
	
	.mobile, #nav-toggle{
		display: block;
	}
	
	.section .column2 .align-bottom{
		position:relative !important;
		bottom:0 !important;
	}
	
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .section .span6, .section .column2{
		height:auto !important;
		padding-top:50px !important;
		padding-bottom:50px !important;
		clear:both !important;
		width:100% !important;
	}
	
	.section .column2 .align-bottom{
		position:relative !important;
		bottom:0 !important;
	}
}